In [20]:
import pandas as pd

In [21]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data = pd.read_csv(data_url, sep = '\s+', header = None)

In [22]:
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [23]:
df_data.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [24]:
df_data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [25]:
import numpy as np

In [26]:
weight_vector = np.array([[1], [1], [1]])
x_vector = np.array([[3], [4], [5]])

In [27]:
weight_vector.T.dot(x_vector)

array([[12]])

In [28]:
df_data.values[0]

array([6.320e-03, 1.800e+01, 2.310e+00, 0.000e+00, 5.380e-01, 6.575e+00,
       6.520e+01, 4.090e+00, 1.000e+00, 2.960e+02, 1.530e+01, 3.969e+02,
       4.980e+00, 2.400e+01])

In [29]:
df_data['weight_0'] = 1
df_data = df_data.drop('MEDV', axis = 1)
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [37]:
df_matrix = df_data.to_numpy()
weight_vector = np.random.random_sample((14, 1))

In [41]:
weight_vector

array([[0.07943119],
       [0.43899325],
       [0.4002069 ],
       [0.86142502],
       [0.87972007],
       [0.43572971],
       [0.99482736],
       [0.6628048 ],
       [0.3442418 ],
       [0.35396285],
       [0.71123537],
       [0.13090353],
       [0.31669857],
       [0.88673623]])

In [43]:
df_matrix.dot(weight_vector)

array([[250.15734211],
       [242.57059556],
       [223.04445745],
       [200.29719127],
       [209.77563893],
       [213.53491449],
       [260.88883762],
       [292.86731306],
       [298.67356361],
       [281.09101261],
       [291.27328383],
       [277.98329612],
       [233.67696373],
       [251.41142221],
       [272.31966745],
       [245.8490303 ],
       [217.12103116],
       [271.6419888 ],
       [212.49735617],
       [258.55622791],
       [288.18483992],
       [279.42550013],
       [284.11715183],
       [292.34832724],
       [285.54878087],
       [265.26031061],
       [279.14487602],
       [269.17917218],
       [284.1894382 ],
       [275.81045978],
       [282.9001824 ],
       [288.04555777],
       [255.74437164],
       [281.96724693],
       [270.21862275],
       [245.52949954],
       [236.75510858],
       [219.02490002],
       [207.76031138],
       [219.91577971],
       [213.39183333],
       [161.90466871],
       [165.36492758],
       [167.253103  ],
       [200.51958618],
       [194.96773606],
       [195.76477619],
       [249.12281351],
       [263.0669412 ],
       [225.54226127],
       [220.71318194],
       [236.5050583 ],
       [194.06440186],
       [195.13662016],
       [329.23583681],
       [219.74930603],
       [260.81201102],
       [250.21350834],
       [221.83628227],
       [240.62062566],
       [260.64973172],
       [285.71841218],
       [260.75107926],
       [237.81705929],
       [222.63324834],
       [248.08660399],
       [262.86327829],
       [228.69229033],
       [245.56570152],
       [240.54976487],
       [193.80087849],
       [204.56333631],
       [195.40141203],
       [192.73747714],
       [227.67447838],
       [265.7999303 ],
       [294.55311895],
       [267.16787364],
       [276.25909209],
       [258.99313037],
       [222.00703078],
       [259.11435943],
       [220.98108842],
       [234.77791155],
       [213.4077355 ],
       [219.76414968],
       [211.033417  ],
       [220.76043489],
       [256.47669792],
       [233.37639995],
       [236.33540918],
       [244.07525565],
       [242.35256829],
       [217.2338546 ],
       [266.82920155],
       [225.30023033],
       [242.75373092],
       [248.35720689],
       [208.70403387],
       [235.26542053],
       [296.20731313],
       [287.27761561],
       [259.47879433],
       [304.6097812 ],
       [306.42447492],
       [314.23254708],
       [310.42853583],
       [301.33616309],
       [313.94328784],
       [308.56603914],
       [271.57170544],
       [313.89970167],
       [326.41101184],
       [329.64686448],
       [315.20478796],
       [315.12545834],
       [304.94484385],
       [314.54540732],
       [299.13988451],
       [297.77062933],
       [221.37241993],
       [234.18212339],
       [244.06041913],
       [249.35404432],
       [246.9147245 ],
       [239.45738673],
       [246.89348485],
       [337.29568254],
       [340.48104276],
       [337.14564494],
       [339.66920097],
       [338.72251789],
       [337.11171911],
       [336.08061743],
       [323.24338654],
       [340.26372239],
       [333.1343653 ],
       [339.4974861 ],
       [340.77448381],
       [340.35804966],
       [336.68313381],
       [346.93941501],
       [328.60005761],
       [327.761727  ],
       [326.08750226],
       [299.03451232],
       [294.85490598],
       [323.44850542],
       [316.78605916],
       [315.2403151 ],
       [318.24695354],
       [316.2460211 ],
       [304.83421866],
       [305.32792658],
       [311.43081125],
       [267.74254536],
       [278.18209378],
       [314.36926534],
       [315.83752354],
       [317.9452663 ],
       [307.18497515],
       [308.65657872],
       [319.13908385],
       [315.45792648],
       [315.14542403],
       [295.54605979],
       [314.26587429],
       [280.82009836],
       [306.41480135],
       [310.0581188 ],
       [305.28455696],
       [314.58557897],
       [270.06673413],
       [264.11414873],
       [248.48024539],
       [211.98547084],
       [227.8746986 ],
       [253.00955012],
       [253.60894455],
       [200.87884521],
       [226.55707887],
       [205.53926571],
       [234.06421245],
       [237.92269955],
       [233.68314219],
       [212.45051923],
       [195.97389858],
       [275.84618734],
       [262.21398204],
       [274.33738438],
       [255.58618539],
       [266.18891489],
       [261.43058292],
       [204.01376355],
       [210.39371388],
       [229.99824385],
       [258.26789112],
       [256.53651141],
       [262.62947626],
       [275.68576511],
       [272.67741239],
       [271.5477153 ],
       [248.43768059],
       [227.61749662],
       [225.81545132],
       [200.98429246],
       [231.26238389],
       [252.65634421],
       [237.88624436],
       [282.75262702],
       [272.82155733],
       [271.35835146],
       [233.81250391],
       [209.22018383],
       [187.75166808],
       [220.24058011],
       [234.90984962],
       [262.32078945],
       [274.33261715],
       [270.67463051],
       [275.81771639],
       [282.57234228],
       [265.23350013],
       [267.45588505],
       [262.76315545],
       [267.41157812],
       [271.02567053],
       [263.1001893 ],
       [200.78807766],
       [205.0023913 ],
       [253.65429968],
       [260.71026093],
       [258.05262173],
       [254.54305199],
       [249.71517724],
       [246.65412886],
       [264.12655193],
       [257.39529696],
       [213.48471556],
       [238.00930482],
       [252.51987569],
       [263.67816386],
       [248.88261231],
       [202.37998715],
       [282.62022384],
       [280.4226269 ],
       [242.79501895],
       [285.38155366],
       [254.98639569],
       [225.22979287],
       [220.4870109 ],
       [213.14649862],
       [213.43561272],
       [217.03566608],
       [255.43699985],
       [243.65014932],
       [233.98186725],
       [260.35804378],
       [272.86555682],
       [273.57716508],
       [256.65236231],
       [263.05125013],
       [264.99519949],
       [269.94815845],
       [265.16852105],
       [237.18908447],
       [259.89286453],
       [240.7882755 ],
       [225.79646918],
       [228.83294169],
       [208.44158151],
       [181.98138619],
       [224.05619869],
       [217.94914287],
       [217.52290362],
       [226.50679483],
       [234.03223769],
       [212.54866913],
       [216.94788384],
       [191.391418  ],
       [222.74282825],
       [196.48434838],
       [207.57140849],
       [206.99779731],
       [236.82340958],
       [237.35665429],
       [224.53217051],
       [236.91567666],
       [251.33414768],
       [226.16900961],
       [227.25197039],
       [227.25438228],
       [223.10856051],
       [201.19525899],
       [225.49655571],
       [213.64515264],
       [233.20454601],
       [243.2891606 ],
       [249.56289388],
       [240.18206372],
       [280.2586534 ],
       [250.46397587],
       [226.68890157],
       [225.89144638],
       [211.17672044],
       [227.97796378],
       [241.56334819],
       [240.11182526],
       [267.99151909],
       [263.41200074],
       [218.92453945],
       [238.25243696],
       [277.44050446],
       [268.67980257],
       [274.25875353],
       [265.34940006],
       [272.36696736],
       [260.93976515],
       [254.41765755],
       [247.14494846],
       [233.61075084],
       [235.47521978],
       [231.34810615],
       [255.99560514],
       [221.26057894],
       [195.69672309],
       [210.5406619 ],
       [227.26224349],
       [253.0941085 ],
       [242.96194275],
       [257.92207999],
       [229.69083305],
       [219.14197024],
       [196.54566038],
       [197.23819597],
       [194.2073532 ],
       [205.93969232],
       [219.40347184],
       [196.28326187],
       [204.79988573],
       [217.68272184],
       [239.41992298],
       [283.30719733],
       [289.2318407 ],
       [259.65933917],
       [252.03136164],
       [253.68841642],
       [268.02779657],
       [240.81238547],
       [248.33017856],
       [258.93733031],
       [284.09676261],
       [270.03275152],
       [220.20452996],
       [256.31487717],
       [252.38097562],
       [424.78046579],
       [418.74971482],
       [411.29231294],
       [407.88187127],
       [411.03664579],
       [412.74991366],
       [419.97501612],
       [411.55396871],
       [403.9140532 ],
       [406.2445899 ],
       [407.47819627],
       [391.71981512],
       [420.16350753],
       [418.78920835],
       [421.54227215],
       [421.70151949],
       [409.4004083 ],
       [433.33439604],
       [434.57553917],
       [426.3109479 ],
       [419.78977781],
       [428.70075388],
       [427.82646019],
       [430.0606137 ],
       [426.96193529],
       [429.42750877],
       [430.21617145],
       [430.38699599],
       [409.41193618],
       [430.99991674],
       [432.44599888],
       [423.21811882],
       [429.4293284 ],
       [428.20298651],
       [424.98278077],
       [409.15396782],
       [427.98813579],
       [420.56144336],
       [423.25944157],
       [426.78632719],
       [425.07030052],
       [427.45954853],
       [434.64398147],
       [402.59555596],
       [432.6757352 ],
       [429.91976272],
       [426.89610713],
       [426.25768702],
       [410.63921529],
       [433.07859299],
       [426.64523504],
       [418.11897905],
       [417.96539747],
       [401.35339635],
       [377.55541746],
       [382.8440923 ],
       [385.7007411 ],
       [406.05826786],
       [396.5590429 ],
       [384.80179496],
       [373.43906524],
       [386.30724588],
       [384.89356882],
       [361.87919026],
       [418.00142559],
       [413.21316617],
       [401.52716925],
       [363.96358352],
       [347.6503157 ],
       [375.82653432],
       [339.43940561],
       [359.37947541],
       [368.8360763 ],
       [382.60217685],
       [373.97844661],
       [382.86732648],
       [362.82708578],
       [377.60573213],
       [384.89453246],
       [388.19268759],
       [374.56987683],
       [381.38382019],
       [379.27392788],
       [424.16766697],
       [422.83948185],
       [425.48464243],
       [428.17215834],
       [428.15497513],
       [407.09306938],
       [379.66990615],
       [414.94931346],
       [424.28391559],
       [427.9475671 ],
       [415.6969895 ],
       [369.82629573],
       [421.8345849 ],
       [419.04768106],
       [425.91850954],
       [372.8805564 ],
       [370.42074284],
       [366.64857979],
       [357.91335414],
       [396.37201322],
       [412.69132091],
       [400.29459594],
       [415.72073058],
       [411.17612343],
       [416.52918078],
       [393.57108207],
       [368.06763508],
       [364.44571973],
       [415.79316294],
       [397.39962683],
       [385.44498934],
       [412.73199524],
       [418.11252455],
       [402.67017528],
       [392.11793904],
       [418.43273617],
       [415.82815801],
       [422.67588496],
       [422.36926986],
       [423.59902658],
       [414.05928493],
       [392.14080596],
       [400.98742951],
       [403.32430638],
       [367.24358449],
       [366.66465644],
       [378.55316719],
       [408.01233816],
       [379.4282078 ],
       [433.11871688],
       [433.82186161],
       [431.88459841],
       [438.79663261],
       [423.13050123],
       [272.95894136],
       [262.22215838],
       [249.44772765],
       [294.80007039],
       [290.51912876],
       [284.64802208],
       [293.14104379],
       [299.48145195],
       [245.71581892],
       [253.39824996],
       [266.82951656],
       [265.02404045],
       [257.2021182 ]])

In [40]:
df_data.shape

(506, 14)

In [44]:
(df_matrix.dot(weight_vector)).shape

(506, 1)